.pageNotFound {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: calc(100vh - 149px);
    background-image: url('../../assets/img/notFoundPage.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}